NIFI_USERNAME=<nifi_username>
NIFI_PASSWORD=<nifi_password>

HOST_BASE_PATH=<absolute_host_data_path>
CONTAINER_BASE_PATH=<container_data_path>
HOST_INBOUND_PATH=<absolute_host_inbound_path>
ARCHIVE_ZIP_PATH=<zip_archive_path>
FILE_ARCHIVE_PATH=<file_archive_path>

# ZIP filenames must match NiFi Expression Language regex syntax.
# This default means: contains a dot, contains TESTZIP, contains another dot,
# and ends with .zip.
ZIP_NAME_REGEX=<zip_name_regex>

POSTGRES_HOST=<postgres_host>
POSTGRES_PORT=<postgres_port>
POSTGRES_DB=<postgres_database>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
